h3 {
  font-family: "Roboto-Regular", sans-serif;
}

ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px;
    cursor: pointer;

    font-family: "Roboto-Bold", sans-serif;
    &:hover {
      background: #00FFAB;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.active {
  color: white !important;
}

img {
  width: 30%;
  height: 80%;
  cursor: pointer;
}
