<div class="row bg-primary justify-content-center">
  <div class="col-auto align-self-center">
    <a routerLink="/">
      <img src="assets/logo.svg" alt="film-search">
    </a>
  </div>
  <div class="col-4 align-self-stretch">
    <ul>
      <li><a routerLink="/"
             [routerLinkActiveOptions]="{exact:true}"
             routerLinkActive="active"><h5>Home</h5></a></li>
      <li><a routerLink="/news"
             routerLinkActive="active"><h5>News</h5></a></li>
    </ul>
  </div>
  <div class="col-6">
    <search></search>
  </div>
</div>

