.footer_wrap {
  padding: 10px;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      border-radius: 5px;
      padding: 5px;
      width: 60%;
      font-family: "Roboto-Regular", sans-serif;
      margin-right: 5px;
      ::placeholder {
        font-family: "Roboto-Regular", sans-serif;
      }
    }
    button {
      border-radius: 5px;
      padding: 5px;
      width: 15%;
      background: #1300FF;
      color: white;
      cursor: pointer;
      &:hover {
        background: #3A30BF;
      }
    }
  }
}
