<div class="footer_wrap">
  <form [formGroup]="searchForm" (ngSubmit)="getFilm()">
    <input
      formControlName="filmName"
      type="text"
      placeholder="Example: Avengers"/>
    <button type="submit">Search</button>
  </form>
</div>
