@import "~bootstrap";

body,
ul,
h5,
h4,
h3,
h2,
h1,
a,
button,
label,
input{
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular", sans-serif;
}
li {
  list-style-type: none
}

input {
  outline: none;
}

button, input {
  border: none;
}


@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/assets/fonts/Roboto-Light.ttf");
}

